:root {
	// brand colors
	--c-brand: #3657de;
	--c-brand-light:#2440b3;

    code {
        color: #2440b3;
    }

    #app > div > main > div > div > pre > code {
        color: #262725;
    }
}

html.dark {
	--c-brand: #506ad3;
	--c-brand-light:  #425abb;

    code {
        color: #506ad3;
    }

    #app > div > main > div > div > pre > code {
        color: #7a90cc;
    }
}

.home{
    background-image: url(/hero0.png);
    background-size: cover;
    max-width: none;
}
